.fixed-cart {
  position: fixed;
  outline: none;
  width: 70px;
  height: 70px;
  color: #fff;
  background-color: #00d663;
  margin-left: 90vw;
  margin-top: 80vh;
  z-index: 99;
  &--shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

.fixed-cart .cart-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 7px;
  top: 10px;
}




@media(max-width: 800px) {
  .fixed-cart {
    margin-left: 80vw;
  }
}

@media(max-width: 475px) {
  .fixed-cart {
    margin-left: 75vw;
    width: 60px;
    height: 60px;
  }

  .fixed-cart .cart-icon {
    height: 45px;
    width: 45px;
    left: 7px;
    top: 10px
  }

}




@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}