<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Supp_kg</title>
  <link rel="shortcut icon" href="images/logobad.svg" />
  <link rel="stylesheet" type="text/css" href="bundle/vendor/css/vendor.style.css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <script src="https://www.jsdelivr.com/package/npm/emailjs"></script>
  <script>
    window.emailJsAccounts = {
      dev: {
        publicKey: 'vqBagreTqyIsDjOsq',
        serviceId: 'service_9mt3fe5',
        templateId: 'template_w7s8t38'
      },
      prod: {
        publicKey: 'objDnN9KLt6PMPx-O',
        serviceId: 'service_shnb0y3',
        templateId: 'template_n5c9a8q',
      }
    }
  </script>
  <script type="text/javascript">
    window.onload = function () {
      (function () {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init(window.emailJsAccounts.dev.publicKey);
      })();
    };
  </script>
  <script src="js/emailjsLogic.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="btn btn-success fixed-cart">
    <img src="images/cart.svg" alt="cart icon" class="cart-icon">
  </div>

  <div class="row cart-wrapper">
    <div class="medium-4 columns cart-inner-wrapper">
      <div class="cart">
        <a href="javascript:;" class="close-cart"><i class="mdi mdi-close"></i></a>
        <h1>Корзина</h1>
        <div class="row">
          <div class="medium-6 columns">
            <button class="tiny btn btn-outline-primary m-auto" id="clear">Очистить корзину</button>
          </div>
          <div class="medium-6 columns">
            <button class="tiny btn btn-outline-primary m-auto" id='to-checkout'
              title="Work in progress">Заказать</button>
          </div>
        </div>
        <div id="cartItems" class="products-container">Loading cart...</div>
        <hr style="margin: 0 0 10px 0" />
        <p style='font-size: 1.1em;'>Стоимость: <strong id="totalPrice">0 сом</strong></p>
      </div>

    </div>
  </div>

  <div class="product-popup white-popup-wrapper" id="product-popup">
    <div class="medium-4 columns">
      <div class="product-popup__body white-popup">
        <a href="javascript:;" class="close-white-popup"><i class="mdi mdi-close"></i></a>
        <h3 class="product-popup__title"></h3>
        <img class="product-popup__image">
        <hr style="margin: 20px 0" />
        <p class="product-popup__description"></p>
      </div>
    </div>
  </div>


  <div id="app-overlay"></div>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="images/logobad.svg" alt="Marshmallow" height="64"><span
          class="logo-title"><span class="logo-title-text">Supp_kg</span><span class="logo-label">Всё для вашего
            здоровья</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
          <img src="images/logo-dark.svg" class="logo-mobile-menu" alt="logo">
          <a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
        </div>
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product-info">Про Бады</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products">Товары</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Оформить заказ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success" href="tel:+996 708 488889">+996 708 488 889</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-body-wrapper">

    <section id="home" class="home">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="main-banner">
              <div class="d-sm-flex justify-content-between">
                <div data-aos="zoom-in-up">
                  <div class="banner-title">
                    <h3 class="font-weight-medium">Витамины аминокислоты минералы и многое другое
                    </h3>
                  </div>
                  <p class="mt-3">
                    В наличии зарубежные и качественные бады
                    <br>
                    <span style="font-size: 0.8em; color: lightgrey;">
                      * всю продукцию можно увидеть ниже
                    </span>
                  </p>
                  <a href="#products" class="btn btn-secondary mt-3 home-main-button">Купить</a>
                </div>
                <div class="mt-5 mt-lg-0">
                  <img src="images/bad_promo.png" alt="marsmello" class="img-fluid" data-aos="zoom-in-up">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-services" id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="text-dark">Мы предлагаем</h5>
            <h3 class="font-weight-medium text-dark mb-5">Продукцию превосходного качества</h3>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/integrated-marketing.svg" alt="integrated-marketing" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium">Надёжность
              </h6>
              <p>
                Опыт и работа с бадами более <br>1,5 лет
              </p>
            </div>
          </div>
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/design-development.svg" alt="design-development" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium">Пунктуальность
              </h6>
              <p>Не было получено ни одного плохого отзыва.<br>Все заказы были отправлены в срок.
              </p>
            </div>
          </div>
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/digital-strategy.svg" alt="digital-strategy" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium">Вся продукция серфисицированна и безопасна
              </h6>
              <p>Вы можете покупать полезные подарки своим близким
              </p>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box  pb-lg-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/digital-marketing.svg" alt="digital-marketing" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium">Вся продукция строго от официального поставщика
              </h6>
              <p>Покупая у нас, вы не натолкнётесь на подделку!
              </p>
            </div>
          </div>
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box pb-lg-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/growth-strategy.svg" alt="growth-strategy" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium">Мы ценим наших покупателей
              </h6>
              <p>Вы можете честно отзываться о нас, и мы учтём это в будущем.
              </p>
            </div>
          </div>
          <div class="col-sm-4 text-center text-lg-left">
            <div class="services-box pb-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
              <img src="images/saving-strategy.svg" alt="saving-strategy" data-aos="zoom-in">
              <h6 class="text-dark mb-3 mt-4 font-weight-medium"> Грамотно выстроенная система
              </h6>
              <p>У нас хорошие цены
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-process" id="product-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-6" data-aos="fade-up">
            <h5 class="text-dark">Что такое Бад?</h5>
            <h3 class="font-weight-medium text-dark">Бад - это Биологически активная добавка</h3>
            <p class="font-weight-medium mb-4">Бады - это то чего часто не хватает современному ”здоровому” человеку, не
              говоря о тех у кого дефицит полезных веществ в организме.
            </p>
            <h5 class="text-dark mb-3">К категории БАД относятся<br> следующие виды товаров:</h5>
            <div class="d-flex justify-content-start mb-3">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">витамины и витаминные комплексы;</p>
            </div>
            <div class="d-flex justify-content-start mb-3">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">минералы и их соединения;</p>
            </div>
            <div class="d-flex justify-content-start mb-3">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">аминокислоты;</p>
            </div>
            <div class="d-flex justify-content-start mb-3">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">спортивные пищевые добавки на основе протеина, креатина, белково-углеводные смеси;</p>
            </div>
            <div class="d-flex justify-content-start mb-2">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">незаменимые жирные кислоты;</p>
            </div>
            <div class="d-flex justify-content-start">
              <img src="images/tick.png" alt="tick" class="mr-3 tick-icon">
              <p class="mb-0">пробиотики и продукты на их основе.</p>
            </div>
          </div>
          <div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <img src="images/bad-info-image.jpeg" alt="idea" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <section class="our-projects" id="projects">
      <div class="container">
        <div class="row pt-5 mt-5 pb-5 mb-5 justify-content-around">
          <div class="col-sm-3">
            <div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
              <img src="images/satisfied-client.svg" alt="satisfied-client" class="mr-3">
              <div>
                <h4 class="font-weight-bold text-dark mb-0"><span class="scVal">0</span>%</h4>
                <h5 class="text-dark mb-0">Довольных клиентов</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="d-flex py-3 my-3 my-lg-0 justify-content-center" data-aos="fade-down">
              <img src="images/finished-project.svg" alt="Team Members" class="mr-3">
              <div>
                <h4 class="font-weight-bold text-dark mb-0"><span class="tMVal">0</span></h4>
                <h5 class="text-dark mb-0">Заказов выполнено</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </section>
    <section class="clients pt-5 mt-5 " data-aos="fade-up" data-aos-offset="-400">
      <div class="container">
        <h2 class="mb-5">Мы в соцсетях</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="d-sm-flex justify-content-between align-items-center socials-fix flex-wrap">
              <a href="https://api.whatsapp.com/send?phone=+996 708 488889">
                <img src="images/whatsapp-text-logo.png" alt="WhatsApp" class="p-2 p-lg-0" data-aos="fade-down"
                  data-aos-offset="-400" width="170">
              </a>
              <a href="mailto:12.510.i.s.i.510@gmail.com" class="social-link-gmail">
                <img src="images/gmail-logo-text.png" alt="gmail" class="p-2 p-lg-0" data-aos="fade-down"
                  data-aos-offset="-400" width="170">
              </a>
              <a href="https://instagram.com/supp_kg?igshid=YmMyMTA2M2Y= ">
                <img src="images/instagram-logo-text.png" alt="instagram" class="p-2 p-lg-0" data-aos="fade-up"
                  data-aos-offset="-400" width="200" />
              </a>
              <a class='social-link-telegram-wrapper' href="https://telegram.me/+996708488889">
                <img src="images/telegram-logo-text.png" alt="Telegram" class="p-2 p-lg-0 social-link-telegram"
                  data-aos="fade-down" data-aos-offset="-400" width="170">
              </a>
              <a href="tel:+996 708 488889" class="social-link-phone">
                <img src="images/phone-icon.png" alt="phone call icon" class="p-2 p-lg-0 social-icons-phone-image"
                  data-aos="fade-up" data-aos-offset="-400" width="45">
                <span data-aos="fade-up" data-aos-offset="-400">Позвонить</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="products" id="products">
      <div class="container">
        <div>
          <h1 class="mb-5">Каталог:</h1>
          <div class="d-flex row products-container">
            <div class="product medium-4 columns"
              data-name="Кальций, магний, цинк, Calcium Magnesium & Zinc, Mason Natural, 100 таблеток" data-price="890"
              data-id="0" data-image-url="images/calcium_magnesium_zink.png"
              data-info="Продукт прошел лабораторные испытания и имеет гарантию качества Mason
              Производится в соответствии со стандартом качества cGMP — сертификат 5 звёзд 
              
              Кальций – это макроэлемент, который отвечает за формирование костной ткани (99% этого вещества находится в костях и зубах), нормальную передачу нервных импульсов;
               свертываемость крови
              он используется в крови с целью высвобождения инсулина и передачи сигнала для сокращения мышечных волокон. В случае недостатка кальция в крови организм автоматически забирает его из костей и зубов, тем самым поддерживая нормальные функции мышц, но ослабляя крепость костей.
              
              Магний - благотворно влияет на рост костей; нормализует сердечный ритм, снижает артериальное давление; регулирует уровень сахара в крови; устраняет судороги в мышцах; уменьшает боли в суставах. Магний, действуя в комплексе с кальцием, способен повышать минеральную плотность костных тканей.
              
              Цинк:
              повышает сопротивляемость организма заболеваниям;
              нейтрализует действие свободных радикалов;
               участвует в метаболизме витамина А – залога хорошего зрения;
               улучшает работу мозга.
              Ускоряет заживление ран. Элемент способен стимулировать заживление тканей, за счет стимулирования роста клеток.
              
              Особенность продукта заключается в комбинации кальция, магния и цинка в одной таблетке, а особая органическая (хелатная) форма минералов позволяет достигнуть максимальной степени усвоения организмом.
              
              Помогает развиваться организму подростков
              Перед приёмом проконсультируйтесь с врачом 
              
              Рекомендации по применению
              Взрослым принимать по одной таблетке, от одного до трех раз в день, желательно с пищей, в качестве пищевой добавки.">
              <a href="#" aria-label="open product info modal window" class="open-product-page">
                <img src="images/calcium_magnesium_zink.png" alt="Calcium, Magnesium & Zink" class="product-image" />
                <h4 class="product-title">Кальций, магний, цинк, Calcium Magnesium & Zinc, Mason Natural, 100 таблеток
                </h4>
              </a>
              <h5 class="product-price">Цена: <span>890</span> сом/шт</h5>

              <div class="input-group product-qty-input-group">
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-danger btn-number product_control-round-button" data-type="minus"
                    data-field="quant[0]">
                    <span class="icon-minus">-</span>
                  </button>
                </span>
                <div class="form-group product-qty-input-wrapper">
                  <input type="text" name="quant[0]" class="form-control input-number count product-qty-input" value="1"
                    min="1" max="100">
                </div>
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-success btn-number product_control-round-button" data-type="plus"
                    data-field="quant[0]">
                    <span class="icon-plus">+</span>
                  </button>
                </span>
              </div>
              <!-- <input type="text" class="count" value="1" /> -->
              <button class="tiny btn btn-outline-primary m-auto product-add-to-cart-button">Добавить в корзину</button>
            </div>
            <div class="product medium-4 columns" data-name="21st Century, цитрат цинка, 50 мг, 60 таблеток"
              data-price="770" data-id="1" data-image-url="images/zinc_citrate.png"
              data-info="О дополнительном приеме витаминных комплексов говорят практически все, но немногие во всем многообразии витаминов и минералов выделяют цинк. А, к слову сказать, его дефицит может вызвать нарушения в работе всего организма. Цинк очень важный микроэлемент, который не синтезируется организмом самостоятельно, а поступает с пищей. Особенно остро нуждаются в минерале вегетарианцы, ведь основными источниками цинка являются морепродукты, красное мясо, молоко и молочные продукты. Для чего нам нужен цинк? 
              Улучшает состояние кожи. За счет того, что цинк участвует в синтезе коллагена – важнейшего белка для прочности и эластичности кожи. Международными исследованиями доказано, что цинк снижает активность бактерий, которые вызывают угревую сыпь, воспаления и другие проблемы с кожей.
              Борется с воспалительными процессами. Цинк снижает выработку молекул, которые вызывают воспаления, а также уменьшает частоту и тяжесть инфекций
              Улучшает память и внимание. Цинк формирует клетки головного мозга, что способствует его росту, а также нормализации передачи нервных импульсов
              
              Цинк нужен для производства белков и ДНК, для роста и восстановления мышц, важен для правильного ощущения вкуса и запаха, способствует заживлению ран, помогает иммунной системе бороться с бактериями и вирусами, улучшает пищеварение, регулирует выработку гормонов,помогает росту подростков и некоторых парней до 25 лет, повышает иммунитет, улучшает внешний вид и даёт красоту.
              
              Рекомендации по применению
              В качестве минеральной добавки для взрослых принимать по одной (1) таблетке в день во время любого приема пищи или в соответствии с назначением врача. Не следует превышать рекомендованную дозировку. Результаты зависят от индивидуальных особенностей организма.">
              <a href="#" aria-label="open product info modal window" class="open-product-page">
                <img src="images/zinc_citrate.png" alt="Zink citrate" class="product-image" />
              </a>
              <h4 class="product-title">21st Century, цитрат цинка, 50 мг, 60 таблеток</h4>
              <!-- <input type="text" class="count" value="1" /> -->
              <h5 class="product-price">Цена: <span>770</span> сом/шт</h5>
              <div class="input-group product-qty-input-group">
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-danger btn-number product_control-round-button" data-type="minus"
                    data-field="quant[1]">
                    <span class="icon-minus">-</span>
                  </button>
                </span>
                <div class="form-group product-qty-input-wrapper">
                  <input type="text" name="quant[1]" class="form-control input-number count product-qty-input" value="1"
                    min="1" max="100">
                </div>
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-success btn-number product_control-round-button" data-type="plus"
                    data-field="quant[1]">
                    <span class="icon-plus">+</span>
                  </button>
                </span>
              </div>
              <button class="tiny btn btn-outline-primary m-auto product-add-to-cart-button">Добавить в корзину</button>
            </div>
            <div class="product medium-4 columns"
              data-name="California Gold Nutrition, L-Аргинин, 500 Мг, 60 Растительных Капсул" data-price="1000"
              data-id="2" data-image-url="images/l_arginine.png"
              data-info="L-Arginine от California Gold Nutrition
              Аргинин отвечает за синтез белков и протеина и используется для повышения выносливости и мышечной массы, принимает участие в образовании оксида азота, обеспечивая нормальную работу всех органов человеческого тела. Аминокислота стимулирует выработку инсулина, а также необходима для выработки креатина, который влияет на работу головного мозга. В спорте способствует формированию мышечной ткани, улучшает питание мышц. L-форма аргинина способствует быстрому усвоению, отсутствию дискомфорта в ЖКТ, так же помогает для роста и развития подростков 
              
              Пищевые добавки с высоким содержанием данной аминокислоты включают в свой рацион различные группы населения, в том числе спортсмены,  люди с высоким кровяным давлением и многие другие. В некоторых случаях L-аргинин (https://sayyes.com.ua/arginin/) используется для лечения людей, чье здоровье находится в критическом состоянии.
              
              Улучшение показателей при занятиях спортом
              Некоторые результаты исследований свидетельствуют о том, что прием пищевых добавок с высоким содержанием  L-аргинина может улучшать показатели во время выполнения физических упражнений. Подобный эффект связывают с увеличением количества оксида азота в крови, что существенно улучшает кровоток и обеспечивает насыщение мышц кислородом.
              Так, проводимое в 2017-ом году исследование с участием 56-ти футболистов показало, что регулярное потребление 2-х граммов аминокислоты на протяжении 45-ти дней значительно повышает физические показатели. Кроме того, потребление 6-ти граммов этого вещества за один час до тренировки позволяло повышать уровень оксида азота в крови и увеличивать выносливость спортсменов.
              
              Рекомендации по применению:
              
              взрослым по 3 капсулы в день во время еды. Противопоказания: Индивидуальная непереносимость компонентов, беременность, кормление грудью. Перед применением рекомендуется проконсультироваться с врачом.">
              <a href="#" aria-label="open product info modal window" class="open-product-page">
                <img src="images/l_arginine.png"
                  alt="California Gold Nutrition, L-Аргинин, 500 Мг, 60 Растительных Капсул" class="product-image" />
                <h4 class="product-title">California Gold Nutrition, L-Аргинин, 500 Мг, 60 Растительных Капсул</h4>
              </a>

              <h5 class="product-price">Цена: <span>1000</span> сом/шт</h5>
              <!-- <input type="text" class="count" value="1" /> -->
              <div class="input-group product-qty-input-group">
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-danger btn-number product_control-round-button" data-type="minus"
                    data-field="quant[2]">
                    <span class="icon-minus">-</span>
                  </button>
                </span>
                <div class="form-group product-qty-input-wrapper">
                  <input type="text" name="quant[2]" class="form-control input-number count product-qty-input" value="1"
                    min="1" max="100">
                </div>
                <span class="input-group-btn product_control-round">
                  <button type="button" class="btn btn-success btn-number product_control-round-button" data-type="plus"
                    data-field="quant[2]">
                    <span class="icon-plus">+</span>
                  </button>
                </span>
              </div>
              <button class="tiny btn btn-outline-primary m-auto product-add-to-cart-button">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contactus" id="contact">
      <div class="container">
        <div class="row mb-5 pb-5">
          <div class="col-sm-5" data-aos="fade-up" data-aos-offset="-500">
            <img src="images/contact.jpg" alt="contact" class="img-fluid">
          </div>
          <div class="col-sm-7" data-aos="fade-up" data-aos-offset="-500">
            <h3 class="font-weight-medium text-dark mt-5 mt-lg-0">Хотите сделать заказ?</h3>
            <h5 class="text-dark mb-5">Оставьте заявку, и мы с вами свяжемся!</h5>
            <form id="contact-form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control customer-name" id="name" placeholder="Имя*"
                      name="customer_name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control contact-way" id="mail" placeholder="Способ связи*" name="contact_way"
                      type="text" required minlength="5">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea name="message" id="message" class="form-control message" placeholder="Сообщение*"
                      rows="5"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-secondary form-send-button" name="message">Отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <address>
              <p>Кыргызстан</p>
              <p class="mb-4">город Бишкек</p>
              <div class="d-flex align-items-center flex-wrap">
                <p class="mr-4 mb-0">+996 708 488 889</p>
                <a href="mailto:info@yourmail.com" class="footer-link mr-2">supp_kg4@gmail.com</a>
                <a href="mailto:Marshmallow@yourmail.com" class="footer-link">12.510.i.s.i.510@gmail.com</a>
              </div>

            </address>
            <div class="social-icons">
              <h6 class="footer-title font-weight-bold">
                Поделиться в соцсетях
              </h6>
              <div class="d-flex flex-wrap mb-3 footer-socials mt-4">
                <a href="https://api.whatsapp.com/send?text=Магазин Бадов г.Бишкек:%0ahttps://supp-kg.vercel.app/"><img
                    src="images/whatsapp-text-logo-white.png" width="170px" alt="whatsapp" /></a>
                <a href="mailto:?&subject=Магазин Бадов г.Бишкек:&body=https://supp-kg.vercel.app/"
                  class="footer-gmail-link"><img src="images/gmail-logo-text-white.png" width="170px" alt="gmail" /></a>
                <a
                  href="https://telegram.me/share/url?url=https://telegram.me/share/url?url=<URL>&text=Магазин Бадов г.Бишкек:%0ahttps://supp-kg.vercel.app/"><img
                    src="images/telegram-logo-text-white.png" class="mt-2" width="170px" alt="gmail" /></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4 beg-footer-row">
                <h6 class="footer-title">Social Share</h6>
                <ul class="list-footer">
                  <li><a href="" class="footer-link">Home</a></li>
                  <li><a href="" class="footer-link">About</a></li>
                  <li><a href="" class="footer-link">Services</a></li>
                  <li><a href="" class="footer-link">Portfolio</a></li>
                  <li><a href="" class="footer-link">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center footer__doubler">
            <a class="navbar-brand" href="#" style="text-decoration: none; color:white;"><img src="images/logobad.svg"
                alt="Supp_kg logo" height="64"><span class="logo-title"><span
                  class="logo-title-text">Supp_kg</span><span class="logo-label">Всё для вашего
                  здоровья</span></a>
            <p class="mb-0 text-small pt-1">© 2020-2022 . Все права защищены.</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/template" id="cartT">
      <% _.each(items, function (item) { %> <div class = "panel product cart-item"> <img src=" <%= item.imageUrl %> " class = 'product-image' alt= " <%= item.imageUrl %> " /> <h3> <%= item.name %> </h3>  <span class="label">
    <%= item.count %>
    шт/<%= item.total %>сом</span > </div>
    <% }); %>
    </script>
  </footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
  <script src="bundle/vendor/js/vendor.bundle.base.js"></script>
  <script src="bundle/js/main.js"></script>
</body>

</html>